html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("background.jpg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #ebe5b1;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

h1,
h2 {
  margin-top: 8px;
}

footer {
  position: absolute;
  bottom: 8px;
}

ul {
  padding-left: 2ch;
}

.char-width {
  max-width: 70ch;
}

#h1-img {
  display: flex;
  align-items: center;
}

#h1-img>img {
  height: 2em;
  margin-right: 8px;
}

p {
  margin-bottom: 1ch;
}

#playlist {
  position: absolute;
  top: 30px;
  right: 30px;
  max-width: 30ch;
}